{% extends 'base.html' %}

{% block title %}
    Login Success
{% endblock %}


{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hello {{request.user.username}}!</h1>
    <p class="lead">Gracias por ingresar
  
      
      <script>
        var currentTime = new Date();
        var hours = currentTime.getHours();
        if (hours > 18) {
          document.write("🌘");
        } else {
          document.write("☀");
        }
      </script>
      
      
    </p>
    <hr class="my-4">
    <p>Ahora podras actualizar y cargar informacion en nuestra página</p>
    <a class="btn btn-dark btn-lg" href="/" role="button">Ir al Incio</a>
  </div>
{% endblock %}