{% extends 'base.html' %}

{% block title %}
    Listado de Locaciones
{% endblock %}

{% block content %}

<style>

  h1{
    text-align: left;
  }
  

</style>

    <h1>Listado de Locaciones</h1>

    <p><div class="center">
      <form class="form-inline my-2 my-lg-0" action="/market/location-list/" role="search" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" name="search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
    </form></p>
    <p><a class="btn btn-dark" href="/market/location-formulario" role="button">Nueva Locacion</a></p>


    {% for location in object_list %}

    <br>
    <div class="card mb-3" style="max-width: 380px;">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{location.locationame}}</h5>
            <p>{{location.type_shop}}</p>
            <p>Nombre del local: {{location.name_shop}}</p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a type="button" class="btn btn-success" href="/market/location-update/{{location.id}}">Actualizar</a>
              {% if request.user.is_superuser %}
              <a type="button" class="btn btn-danger" href="/market/location-delete/{{location.id}}">Eliminar</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>



    {% endfor %}


{% endblock %}

