{% extends 'base.html' %}

{% block title %}
    Restaurantes
{% endblock %}

{% block content %}

<style>

  h1{
    text-align: left;
  }

</style>


    <h2>Listado de Restaurantes</h2>

    <p><div class="center">
      <form class="form-inline my-2 my-lg-0" action="/market/resto-list/" role="search" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" name="search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
    </form></p>
    <p><a class="btn btn-dark" href="/market/resto-formulario" role="button">Nuevo Restaurant</a></p>

    {% for restaurant in object_list %}

      <br>
        <div class="card mb-3" style="max-width: 400px;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
              <h5 class="card-title">{{restaurant.name}}</h5>
              <p>Ubicado en: {{restaurant.location}}</p>
              <p>Tipo de comida: {{restaurant.food_type}}</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <a type="button" class="btn btn-success" href="/market/resto-update/{{restaurant.id}}">Actualizar</a>
                {% if request.user.is_superuser %}
                <a type="button" class="btn btn-danger" href="/market/resto-delete/{{restaurant.id}}">Eliminar</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </p>
</div>

    {% endfor %}



{% endblock %}