<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/media/icon/brocoli.ico"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>{% block title %}  {% endblock %}</title>
</head>

<style>

    body{
        background-color: rgb(253, 250, 250);
    }

    footer{
       background-color:#e2b8c2;
    }

    .avatar{
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }    

</style>

<body>  
    <header>
        <nav class="navbar navbar-light" style="background-color: #e2b8c2;"> 
            <a class="btn btn-dark" href="/">Inicio</a>            
            <a href="/admin/" style="background-color:#e2b8c2"class="badge badge-dark">.</a>    
            <div class="dropdown"> 
                <button class="btn btn-outline-dark dropdown-toggle" style="margin-left:1450px" type="button" data-toggle="dropdown" aria-expanded="false">
                    {% if request.user.is_authenticated %}
                    {{request.user.username}}
                        {% if request.user.profile.avatar.url != '' %}
                            <img class="avatar" src="{{request.user.profile.avatar.url}}" alt="">
                        {% endif %}
                    {% else %}
                    Usuario
                    {% endif %}                    
                </button>
                <div class="dropdown-menu" style="margin-left:1500px">
                    {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="/users/logout/">Cerrar</a>
                    <a class="dropdown-item" href="/users/update/">Actualizar</a>
                    <a class="dropdown-item" href="/users/update-profile/">Update Profile</a>
                    <a class="dropdown-item" href="/users/profile/">Perfil</a>
                    {% else %}
                    <a class="dropdown-item" href="/users/login/">Ingresa</a>
                    <a class="dropdown-item" href="/users/signup/">Registrate</a>
                    {% endif %}
                </div>
            </div> 
              <a type="button" class="btn btn-outline-dark" href="/about/">Nosotros</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" style="text-align:right" id="navbarSupportedContent"> 
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/market/market-list/">Supermercados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/market/location-list/">Locaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/market/resto-list/">Restaurantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/brands/brand-list/">Marcas Veganas</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/market/market-list/" role="search" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" name="search">
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
                </form>
        </div> 
        </nav> 
        <span class="d-block p-2 bg-dark text-white">            
            <span class="badge badge-muted" style="margin-left:1790px"> 
                <div id="current_date">
                    <script>
                        date = new Date();
                        year = date.getFullYear();
                        month = date.getMonth() + 1;
                        day = date.getDate();
                        hours = date.getHours();
                        minutes = date.getMinutes();
                        document.getElementById("current_date").innerHTML = day + "/" + month + "/" + year + " " + hours + ":" + minutes;
                    </script>
                </div>
            </span> 
        </span>   
    </header>
    
    {% block content %}

    {% endblock %}

        <footer class="bg-muted text-center text-white" style="margin-top:600px;">
        <div class="container p-3 pb-0">
            <section class="mb-3">
            <a href="https://www.instagram.com/"><img src="/media/icon/instagram.ico" width="40" height="40" role="button"></a>
            <a href="https://www.twitter.com/"><img src="/media/icon/twitter.ico" width="40" height="40" role="button"></a>
            <a href="https://www.whatsapp.com/"><img src="/media/icon/whatsapp.ico" width="40" height="40" role="button"></a>
            <a href="https://www.github.com/accccastle/"><img src="/media/icon/github1.ico" width="40" height="40" role="button"></a>
            <a href="https://www.linkedin.com/"><img src="/media/icon/linkedin.ico" width="40" height="40" role="button"></a>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(83, 77, 77, 0.2);">
            © 2023 Copyright:
            <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        </footer>   


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>