{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <br>
    <h2>Guia Vegana</h2>
    <br>
    
    <p><a class="btn btn-primary" href="market/location-formulario" role="button">Ingresar Nueva Locacion</a></p>   
    <p><a class="btn btn-primary" href="market/resto-formulario" role="button">Ingresar Nuevo Restaurantes</a></p>
    <p><a class="btn btn-primary" href="brands/brand-create" role="button">Ingresar Nueva Marca</a></p>  
    <p><a class="btn btn-primary" href="market/market-formulario" role="button">Ingresar Nuevo Supermercados</a></p>
    <p><a class="btn btn-primary" href="market/location-list" role="button">Locaciones</a></p>
    <p><a class="btn btn-primary" href="market/resto-list" role="button">Restaurantes</a></p>
    <p><a class="btn btn-primary" href="market/market-list" role="button">Supermercados</a></p>
    <p><a class="btn btn-primary" href="brands/brand-list" role="button">Marcas Veganas</a></p>



{% endblock %}